# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
pnpm-lock.yaml
yarn.lock

# Build output
dist/
dist-ssr/
build/
*.local

# Local env files
.env
.env.*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.log

# Mac / Linux / Windows system files
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# Coverage / test
coverage/
*.lcov
jest-cache/
jest-report/
.vitest/

# Temporary files
temp/
tmp/

# Firebase cache and configs
.firebase/
.firebaserc
storage-debug.log
firebase-debug.log
firebase-debug.*

